{% extends 'contacts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4><i class="fas fa-user-plus me-2"></i>Add New Employee</h4>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-md-6">
                    {{ form.full_name|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.phone_number|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.company_name|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form.company_website|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form.address|as_crispy_field }}
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save me-2"></i>Save Employee
                </button>
                <a href="{% url 'home' %}" class="btn btn-secondary">
                    <i class="fas fa-times me-2"></i>Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}